﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.WebStore.Agents
@model ProductListViewModel
@{
    TempData[WebStoreConstants.ProductCount] = Model?.Products?.Count;
    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();
    string searchValue = string.IsNullOrEmpty(Model.SuggestTerm) ? Model.SearchKeyword : Model.SuggestTerm;
    UserViewModel userModel = Helper.GetUserDetails();
    int? portalId = Helper.GetCurrentPortalId();
    int? userId = userModel?.UserId;
    int? profileId = userModel?.Profiles?.FirstOrDefault()?.ProfileId;
    long? resultCount = Model?.TotalProductCount;

    bool addDataToDB = !string.IsNullOrEmpty(searchTerm) ? true : false;
    if (Request.QueryString != null && (Request.QueryString["fromSearch"] != null || Request.QueryString["sort"] != null || Request.QueryString["pagenumber"] != null || Request.QueryString["pageSize"] != null))
    {
        addDataToDB = false;
    }
    //Shoe finder grid width
    string shoefindergridwidth = "";

    if (Model.Custom1 == "shoefinder")
    {
        shoefindergridwidth = "shoefindergridwidth";

    }
}

@if (Model?.Products?.Count > 0)
{
    var categoryName = Model.Products.First()?.CategoryName;

    <div class="col-xs-12 product-grid nopadding">
        <div class="col-xs-12 nopadding products-modes-setting">
        <div class="col-xs-6 col-sm-6 col-lg-3 nopadding">
            @{if ((Model?.IsSearchFromSuggestions).GetValueOrDefault())
                {
                    <div class="col-sm-12 nopadding margin-bottom">
                        <p data-test-selector="lblShowingResults">Showing results for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SuggestTerm)">@Model.SuggestTerm </a>instead  of @Model.SearchKeyword.</p>
                        <p data-test-selector="lblSearchInstedOf">Search instead for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SearchKeyword)&usesuggestion=false">@Model.SearchKeyword</a>.</p>
                    </div>
                }
                else if (!Equals(Model.SearchResultCountText, null))
                {
				if (Model.SearchResultViewModel.FacetFilters.Count > 0)
                 {

                 }
                 else
                 {
                                   <p class="search-result" data-test-selector="lblSearchResult">@Model.TotalProductCount <lable>&nbsp;Results</lable>  </p>

				 }
                }
            }
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-6 nopadding hidden-sm hidden-xs hidden-md visible-lg">
            <div class="col-lg-12 col-md-12 col-xs-12 footer-pagination-class" id="pagingsearching" style="border-top:none!important;padding:0px!important;margin-top:-10px!important;">
                @Html.Partial("../Search/_FooterPagination", Model)
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-3 nopadding filter-right">
            <div class="view-mode pull-right">
                <span data-test-selector="spanViewModeLabel" class="hidden">@WebStore_Resources.TitleFilterBy &nbsp;</span>
                <div id="pagingsearching">
                    @Html.Partial("../Search/_PagingSearching", Model)
                </div>
            </div>
        </div>
    </div>

        <div class="col-xs-12 product-view nopadding">
            <ul data-test-selector="listProductsContainer" id="view-option-productgrid" infinnity-loading="@Helper.InfinityLoading" class="product-grid-ul grid-view @shoefindergridwidth">
                @{
                    if (!Equals(Model, null))
                    {
                        foreach (var p in Model.Products)
                        {
                            <li data-test-selector="listProductsList">
                                <article class="product-item">
                                    @Html.Partial("../Product/_ProductTile", p)
                                </article>
                            </li>
                        }
                    }
                }
            </ul>

            <div id="loading" class="loader" style="display:none;"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 footer-pagination-class" id="pagingsearching">
            @Html.Partial("../Search/_FooterPagination", Model)
        </div>
    </div>
}
else
{
    if (!string.IsNullOrEmpty(Model.SearchTextName) && Model.SearchTextName != "Search")
    {

        <div class="col-sm-12 nopadding">
            @string.Format(WebStore_Resources.ErrorProductSearchResult, Model.SearchTextName)
        </div>
    }
    else
    {
        <div class="col-sm-12 nopadding margin-bottom" data-test-selector="divResultFoundMessage">
            @Html.RenderBlock(WebStore_Resources.NoSearchResultsFound?.Replace("{0}", searchTerm))
        </div>
    }
}

<script>
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
        $("#searchTextBox").val('@Html.RenderBlock(searchValue)');

        if ('@addDataToDB'=='True') {
            var model = {
                "UserId": '@userId',
                "SearchProfileId": '@Model.SearchProfileId',
                "PortalId": '@portalId',
                "UserProfileId": '@profileId',
                "SearchKeyword": '@Model.SearchKeyword',
                "TransformationKeyword": '@Model.SuggestTerm',
                "ResultCount": '@resultCount'
            };
            Search.prototype.SaveSearchReportData(model)
        }
    })

</script>

<script>
    function clickme(obj, t, c) {
        var r = $("#" + c).attr("Swatch-img"); $("#" + t).attr("src", r)
        $(obj).parent().parent().find("li").removeClass('active');
        $(obj).parent().addClass('active');
    } function out(t, c) { $("#" + t).attr("src", c) }
</script>
@Html.Partial("~/Views/Shared/Enhanced Ecommerce/_PLPTracking.cshtml", Model.GetProductImpressionsData())
@Html.Partial("../Schema/_ProductListSchema", Model)