﻿@import "../_base.scss";

// Product Tab.
.product-details-tab {
    margin: 15px 0px 0px 0px;

    ul {
        border-bottom: 1px solid $base-color-primary;
        text-transform: uppercase;

        li {
            a {
                color: $base-color-primary;
                font-size: $base-font-size;
                font-family: $base-font-family-montserrat-regular;
                min-width: 150px;
                padding: 10px 15px;
                border-radius: 0;
                text-align: center;

                &:hover {
                    color: $base-color-primary;
                    background-color: $base-color-white;
                    border-color: $base-color-white;
                }
            }
        }
    }

    .nav-tabs > li > a.active, .nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
        color: $base-color-primary;
        border-color: $base-color-white;
        border-bottom: 3px solid $base-color-primary;
    }

    .no-review {
        margin-bottom: 10px;
    }
}

#product-specification-container {
    width: 60%;
}

.tabs {
    ul {
        margin: 0;
        padding: 0 0 0 0;
        font-weight: bold;

        li {
            a {
                padding: 0em;
            }
        }
    }
}

.item {
    margin-bottom: 10px;

    &::before {
        cursor: pointer;
        font-weight: bold;
        background: $base-color-white;
        padding: 0px;
        display: block;
        border-bottom: 1px solid $base-color-primary;
        line-height: 35px;
        text-transform: uppercase;
        font-family: $base-font-family-bold;
        font-size: $base-font-size + 8;
    }

    &.active {
        .item-content {
            padding-top: 15px;
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
        }
    }
}

.tabbed-content {
    .tabs {
        display: none;
    }

    .item {
        min-height: 2em;
        display: grid;

        &::before {
            content: attr(data-title);
        }

        .item-content {
            opacity: 0;
            visibility: hidden;
            height: 0;
            font-size: $base-font-size;

            .link-write-review {
                color: $base-color-Link;
                cursor: pointer;
            }
        }

        &.active {
            .item-content {
                opacity: 1;
                visibility: visible;
                height: auto;
                overflow: auto;
            }
        }
    }
}

// Product Review.
.product-review-main {
    border: 1px solid #efefef;

    .product-review {
        padding: 25px 15px 25px 15px;
        font-size: $base-font-size-small;

        .review-title h3 {
            font-weight: bold;
        }

        .review-body {
            h5 {
                font-family: $base-font-family-bold;
                font-size: $base-font-size;
            }
        }

        .review-meta span {
            margin-right: 25px;
        }
    }

    .review-striped:nth-of-type(odd) {
        background-color: #F8F8F8;
    }
}
.gridset-formobile{width:100%;}
// Media Query.
@include screensize(x-small) {
    #product-specification-container {
        width: 100%;
    }
    /*.gridset-formobile{width:21em;}*/
    .product-review-main {
        margin-top: 10px;

        .product-review {
            .review-body {
                font-size: $base-font-size-x-small;

                h5 {
                    font-size: $base-font-size-small;
                }

                .review-meta {
                    font-size: $base-font-size-x-small;
                }
            }
        }
    }

    .product-details-tab ul li {
        width: 100%;
        padding-right: 0;
    }

    .item {
        &::before {
            font-size: $base-font-size;
        }
    }
}

@include screensize(small) {
    #product-specification-container {
        width: 60%;
    }

    .product-details-tab {
        ul li {
            width: auto;
            padding-right: 2px;
        }

        .tab-content {
            max-height: 500px;
        }
    }

    .item {
        &.active {
            .item-content {
                padding: 0;
            }
        }
    }

    .tabs-side {
        .tabs {
            li {
                margin-bottom: 2px;
            }
        }
    }

    .tabbed-content {
        .tabs {
            display: block;

            li {
                display: inline-block;

                a {
                    display: block;
                }
            }
        }

        .item {
            min-height: 0;

            &::before {
                display: none;
            }
        }

        &.tabs-side {
            .tabs {
                width: 150px;
                float: left;

                li {
                    display: block;
                }
            }

            .item {
                margin-left: 150px;
            }
        }
    }
}
