﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row footer-container">
    <div class="footer-information">
        <div class="container">
            <div class="row" itemscope itemtype="http://schema.org/WebPage">
                <div class="col-xs-12 col-sm-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel col-lg-2 col-sm-2 col-md-2 col-xs-12 footer-shop" data-test-selector="divFooterCategoryList">
                            <!--Footer StoreInfo Widget-->
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterCategoryHeading">@WebStore_Resources.TitleStoreInfo</h3>
                            </div>
                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterHelpWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "StoreInfo", "2248", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>
                        </div>
                        <!--Footer Brand Widget-->
                        <div class="panel col-lg-2 col-sm-2 col-md-2 col-xs-12 footer-shop">
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterHelpHeading">@WebStore_Resources.LabelBrands</h3>
                            </div>
                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterHelpWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "Brands", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>
                        </div>

                        <!--Customer Support Widget-->
                        <div class="panel col-lg-3 col-sm-4 col-md-4 col-xs-12 footer-shop">
                            <div class="header-footer">
                                <h3 class="footer-header" data-test-selector="lblFooterContactSupport">@WebStore_Resources.TextCustomerSupport</h3>
                            </div>
                            <div class="footer-help-section-link">
                                <div data-test-selector="divFooterHelpWidget">
                                    <div class="footer-customer-support-link">
                                        <div data-test-selector="footer-customer-support-link">
                                            <z-widget>@Html.WidgetPartial("CustomerSupport", "CustomerSupport", "109", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                                        </div>
                                    </div>
                                </div>
								<div data-test-selector="divFooterHelpWidget">
                                    <z-widget>
                                        @Html.WidgetPartial("LinkPanel", "Extra Links", "2258", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)
                                    </z-widget>
                                </div>
                            </div>
                        </div>

                        <!-- Footer PFA Image Block -->
                         <div class="col-xs-12 col-lg-2 col-sm-4 col-md-4 margin-bottom mobil-nopadding">
                           <div class="col-lg-12 col-xs-6 PFAimg nopadding margin-top">
                                @Html.RenderMessage("FooterPFAImage")
                            </div>
                        </div>

                        <!--Socal Media Widget-->
                        <div class="col-lg-3 col-sm-4 col-md-4 col-xs-12 follow-us">
                            <div class="header-footer">
                                <h3 data-test-selector="lblFooterInfoHeading">Follow Us</h3>
                            </div>
                            <div data-test-selector="divSocialMediaList" class="margin-bottom">
                                <z-widget>
                                    @Html.WidgetPartial("LinkPanel", "SocialMedia", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
                                </z-widget>
                            </div>

                            <!--News Letter Widget-->
                            <div class="margin-top">
                                <div class="header-footer">
                                    <h3 data-test-selector="lblFooterCategoryHeading">PROMOTION SIGN UP</h3>
                                </div>
                                <div class="row news-letter-container" itemscope itemtype="http://schema.org/WebPage">
                                    <div class="col-xs-12 col-sm-12 nopadding newsletter-container">
                                        <z-widget>@Html.WidgetPartial("NewsLetter", "NewsLetter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 nopadding footer-copyright-text text-center">
                    <p data-test-selector="lblFooterCopyRight">@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#layout" class="back-to-top" data-test-selector="linkBackToTop" title="Back to top"><i class="zf-up"></i><span class="hidden">top</span></a>
<script type="text/javascript">$('[itemtype = "http://schema.org/WebPage"] a').attr("itemprop", "significantLinks");</script>