﻿@import "_base.scss";

#layout-category .category-landing-container .products-modes-setting h1{display:none;}

.narrow-results-pane{margin-top:14px;}

.search-result{font-size:$base-font-size;float:left;line-height:45px;font-family:$base-font-family-montserrat-700;text-transform:uppercase;
    b{color:$base-color-primary;}
}
// Media Query.
@include screensize(x-small) {
    .category-recent-view-list{padding:0 5px;
        .product-list-widget{padding:0;}
    }
    .category-landing-container .category-more{position:relative;top:-48px;left:-78px;}
}
@include screensize(small) {        
    .category-landing-container{padding-right:0;padding-left:0px;}
    .narrow-results-pane{display:block;}
    .category-recent-view-list{padding:0;}
    .category-landing-container .category-more{left:-126px;}
}
@include screensize(medium) { 
        .category-landing-container .category-more{left:-85px;}
}
@include screensize(x-large){ 
    .category-landing-container .category-more{left:-78px;}
}