﻿@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() > 0)
    {
        using (Html.BeginForm("ExternalLogin", "User", new { ReturnUrl = "/checkout" }))
        {
            <div class="col-xs-12 social nopadding">
                <div class="oval-seprator img-circle">@WebStore_Resources.TextOR</div>

                <section id="socialLoginForm">
                    @Html.AntiForgeryToken()
                    <div id="socialLoginList">
                        <div class="col-sm-12 nopadding">
                            <div class="text-center">
                                @foreach (AuthenticationDescription p in loginProviders)
                                {
                                    <button type="submit" class="btn-text-full social-login @p.AuthenticationType-btn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="zf-@p.AuthenticationType"></i>@WebStore_Resources.LoginWithSocial @p.AuthenticationType</button>
                                }
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        }
    }
}