﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BlogNewsCommentViewModel>
@{
    Layout = null;
}
<div class="col-xs-12 nopadding">
    <div class="col-xs-12 nopadding padding-top">
        @if (Model?.Count > 0)
        {
            <div class="col-xs-12 nopadding title margin-bottom">
                <h3>@WebStore_Resources.LabelComments</h3>
            </div>
        }
        @foreach (var blogNewsComment in Model)
            {
            <div class="col-xs-12 nopadding comment-list">
                <div class="comments">
                    <div class="col-xs-12 nopadding  comment blog-comment">
                        <div class="col-sm-2 nopadding comment-info">
                            <div class="col-xs-12 nopadding padding-bottom">
                                <strong>@blogNewsComment.UserName</strong>
                            </div>
                        </div>
                        <div class="col-sm-10 nopadding comment-content">
                            <div class="comment-time col-xs-12 nopadding padding-bottom comment-date-time">
                                <p>Created on: @blogNewsComment.CreatedDate.ToDateTimeFormat()</p>
                            </div>
                            <div class="col-xs-12 nopadding padding-bottom comment-text">
                                <p>@blogNewsComment.BlogNewsComment</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
