﻿@using CaptchaMvc.HtmlHelpers

<div class="col-xs-12 nopadding captcha-panel">
    @Html.Captcha("Refresh", "Captcha Code", 5, WebStore_Resources.RequiredCaptchaCode, true)
</div>
<script>
    $("#CaptchaDeText").next().next("a").attr("href", "")
    $("#CaptchaDeText").next().next("a").attr("onclick", "" + $("#CaptchaDeText").next().next("a").attr("onclick") + ";return false;" + "")
	$('#div-captcha .captcha-panel img').attr('alt', 'Captcha');
    $('#div-captcha .captcha-panel img').attr('title', 'Captcha');
    $('#div-captcha .captcha-panel a').attr('title', 'Refresh');
</script>
