﻿@using Znode.Engine.WebStore.ViewModels
@model PaymentDetailsViewModel

@{
    string poDocumentClass = Model.IsPoDocRequire ? "required" : string.Empty;
	Model.PurchaseOrderNumber = "PO";
}
<div id="divpurchase-order">
    <div class="col-sm-12 nopadding">
        <div>
            <div>
               @Html.LabelFor(model => model.PurchaseOrderNumber, new { @class = "required" })
			 <label for="VendorPurchaseOrder" aria-labelledby="VendorPurchaseOrder" class="danger">@Html.RenderMessage("VendorPurchaseOrder")</label>             
            </div>
            <div>
                 @Html.TextBoxFor(model => model.PurchaseOrderNumber, new { @id = "txtPurchaseOrderNumber", @onblur = "Checkout.prototype.HidePONumberValidateMessage()", @class = "form-input-long",@maxlength = "18" })              
                <span id="errorpurchaseorder" class="error-msg" style="display:none"></span>
            </div>
        </div>
        @if (Model.IsPoDocUploadEnable)
        {
        <div class="form-group margin-top" id="divPODocUpload">
            <div class="col-xs-4 nopadding">
                @Html.Label(WebStore_Resources.LabelPODocument, new { @id = "lblSelectFile", @class=poDocumentClass })
            </div>
            <div class="col-xs-8">
                <div id="poUploader">
                    @Html.EditorFor(model => model.PODocument)
                </div>
            </div>
        </div>
        }
    </div>
    @Html.HiddenFor(model => model.IsPoDocUploadEnable)
    @Html.HiddenFor(model => model.IsPoDocRequire)

</div>