﻿@model Znode.Engine.WebStore.ViewModels.ProductReviewViewModel

<div class="col-xs-12 nopadding product-review review-striped">
    <div class="col-xs-12 nopadding review-title">
        <p>@Html.Partial("_StarRating", Model.Rating) @Html.RenderBlock(Model.Headline)</p>
    </div>
    @{

        string[] UsernameArray = Convert.ToString(Model.UserName).ToString().Split('/');
        string Username = "";
        try
        {
            Username = UsernameArray[0];
        }
        catch { Username = ""; }
    }
    <div class="col-xs-12 nopadding review-body margin-top-bottom">
        <h5>@Html.RenderBlock(Model.Headline)</h5>
        @Html.RenderBlock(Model.Comments)
    </div>
    <div class="col-xs-12 nopadding review-meta">
        <p><span>By: <label>@Model.UserName</label></span>&nbsp;<span>@WebStore_Resources.TitleStateCountry: <label>@Model.UserLocation</label></span>&nbsp;<span>@WebStore_Resources.TitleDate: <label>@Model.CreatedDate</label></span></p>
    </div>

</div>
@{
    TempData["Username"] = Model.UserName;
    TempData["Comments"] = Model.Comments;
}
<script async>
    $(document).ready(function () {
       var data = {
           "@@type": "Review",
           "reviewBody": "@Model.Comments",
           "author": { "@@type": "Person", "name": "@Username" },
           "reviewRating": { "@@type": "Rating", "bestRating": "5", "ratingValue": "@Model.Rating" },
              "itemReviewed": {
                "@@type": "DrewShoe",
                "name": "@Model.Headline"
              },
       }
       var divdata = $("#hiddenProductReviewMetaTag").html();

       divdata = divdata + JSON.stringify(data) + ",";
       $("#hiddenProductReviewMetaTag").html(divdata );
   });
</script>