﻿@import "_base.scss";

.navbar-nav{margin:0;
    > li {
        .dropdown-menu {border-top: 5px solid $base-color-primary;
          li{
              a{padding: 6px 20px;font-family:$base-font-family-montserrat-700;font-size:$base-font-size-small;text-transform:uppercase;}
          }
        }
        > a {font-family:$base-font-family-montserrat-700; padding: 8px;font-size:$base-font-size;color:$base-color-secondary;text-transform:uppercase;
            &:hover,&:active,&:focus{background-color:$base-color-white;}
        }
        .brand-filter a{font-size:18px;text-align:center;
            &:hover{background-color:#f4f4f4;}
        }
    }
}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu ul {padding: 0 0 10px 15px;
    li {line-height: 40px; min-height: 24px;}
}
.navbar-collapse{background-color:$nav-bgcolor;padding: 0px 30px 0px 0px;}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {position: static;}
.yamm .container {position: relative;}
.yamm .dropdown-menu {left: auto;}
.yamm .nav.navbar-right .dropdown-menu {left:auto;right:0;}
.yamm .yamm-content {padding:20px;}
.yamm .dropdown.yamm-fw .dropdown-menu {left:0;right:0;}
.yamm .dropdown ul li {width:19%;background-color:transparent;display:inline-block;vertical-align:top;line-height:24px;
    &.view-all a {color:$base-color-primary;}
    a {font-family:$base-font-family-bold;background-color:transparent;color:$base-color-primary;white-space:normal !important}
    .sub-menu-child {padding-left:20px;
        li {width:100%;list-style:none; 
             a {color:$base-color-primary;background-color:transparent;font-size:$base-font-size-small;}
             ul li a {font-weight:normal;}
        }
    }    
    i {padding-right:10px;color:$base-color-primary;}
}
.yamm .dropdown ul li a:hover, .yamm .dropdown ul li .sub-menu-child li a:hover {color:$base-color-primary;}

// Nav Dropdown Code.
.nav-drop{right:0;line-height:50px;font-size:18px;color:$base-color-primary;margin-top:5px;
    &:hover,&:active,&:focus{color:$base-color-primary;}
}

.nav-drop-container ul{background-color:$nav-bgcolor;margin:0;padding:0;position:absolute;right:-5px;width:50%;border-radius:0;
    li{list-style:none; display:block;position:relative !important;color:$base-color-white;min-height:24px;line-height:40px;
        a{padding:0 15px;color:$base-color-primary;width:100%;display:block;font-size: $base-font-size + 2;text-transform: uppercase;}
        &:hover{background-color:$base-color-primary;color:$base-color-white;}
        ul{float:none !important;position:static !important;width:100%;min-height:50px !important;
           li{width:100% !important;
               a{color:$base-color-white !important;padding:10px 15px;}
           }
        }
    }
}

//MObile Nav
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 9;
}


// Media Query.
@include screensize(x-small) {
    .dropdown-submenu {
        ul.dropdown-menu.set1.multi-level {
            position: absolute;
            left: 15px;
            top: auto;
            width: 90%;
        }
    }

    nav .nav-home {
        display: none;
    }

    .navbar-nav {
        height: auto !important;
    }

    .dropdown:hover .dropdown-menu {
        float: none;
        position: static;
    }

    .yamm .dropdown ul li {
        width: 100%;
    }

    .yamm .dropdown.yamm-fw .dropdown-menu {
        min-height: 100px;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
@include screensize(xl-small){
    .navbar-nav{height:auto!important;}
}
@include screensize(small) {
    .nav-drop{margin-right: 25px;}
    nav .nav-home{display:block;}
    .navbar-collapse{padding: 0px 0px 0px 0px;}
    .navbar-nav{height:auto !important;margin-left:-10px;width:100%;}
    .dropdown:hover .dropdown-menu {float:left;position:absolute;}
    .yamm .dropdown ul li{width:25%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:700px;overflow-y:auto;}
    .seacrh-icon-tablet{top: 5px;position: absolute;text-align: right;right: 0px;}
    .navbar-nav > li > a{font-size:$base-font-size-small;padding:6px;}
}
@include screensize(medium) {
    .yamm .dropdown ul li{width:19%;}
    .yamm .dropdown.yamm-fw .dropdown-menu {min-height:250px;max-height:450px;overflow-y:auto;}
    .navbar-nav > li > a{font-size:$base-font-size;padding:7px 15px 7px 15px}
}

@include screensize(desktop){
    .navbar-nav > li > a{font-size:$base-font-size;padding:8px}
    .navbar-nav{height:58px !important;margin-left:0px;width:100%;}
}
@include screensize(x-large) {
    .yamm .dropdown.yamm-fw .dropdown-menu {max-height:700px;}
    .navbar-nav{
    > li {
        > a {padding: 8px 25px 8px 25px;}
    }
}
}
