@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    Layout = null;
}
<style>
    .margin-bottom {margin-bottom: 15px;}
</style>

<div class="container-fluid">
    <div class="row default-template Templeteset">
        <div>
            <div class="plp-category-title margin-top">
                <!--Template Title-->
                <div class="col-sm-12 template-title border-bottom nopadding col-12 p-0 margin-bottom">
                    <z-widget>@Html.WidgetPartial("TemplateTextEditor", "TemplateTitle", "9096", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
                </div>
            </div>
        </div>
        <div class="container margin-top">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="col-sm-12 nopadding margin-bottom col-12 p-0">
                        <z-widget>@Html.WidgetPartial("ProductList", "DealsProductList", "9098", "ContentPageMapping", (int)ViewBag.contentPageId)</z-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
