﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    string pageSize = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString[WebStoreConstants.PageSize])) ? Request.QueryString[WebStoreConstants.PageSize] : !string.IsNullOrEmpty(Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue))) ? Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue)) : null;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
    <!-- PLP Banner With Description -->
	string VideoLink = Model.Attributes?.Value("categoryvideolink");
    string PLPcategoryBanner = "";
    string defaultPrdImg = "";
    string defaultorgImg = "";
    PLPcategoryBanner = Model.Attributes?.Value("PLPcategoryBanner");
    string categoryCode = Model.Attributes?.Value("CategoryCode");
    string NavigationLevel = Model.Attributes?.Value("NavigationLevel");
    string BannerBackgroundColor = Model.Attributes?.Value("BannerBackgroundColor");
    string BannerTextColor = Model.Attributes?.Value("BannerTextColor");
    string gridWidthclass = "col-sm-9";
	Model.ProductListViewModel.SearchResultViewModel.Custom2 = Model.Attributes?.Value("LongDescription"); 
    if (PLPcategoryBanner != null)
    {
        try
        {
            defaultPrdImg = PLPcategoryBanner;
            defaultorgImg = PLPcategoryBanner;
            int indexnew = PLPcategoryBanner.LastIndexOf('/');
            string ProductorgImage = PLPcategoryBanner.Substring(indexnew + 1);
            defaultPrdImg = PortalAgent.CurrentPortal.MediaServerUrl + ProductorgImage;

        }
        catch { }
    }
	  Model.ProductListViewModel.SearchResultViewModel.Custom2 = Model.Attributes?.Value("LongDescription");
      Model.ProductListViewModel.SearchResultViewModel.Custom3 = Model.Attributes?.Value("CategoryTitle");
	
	var PLPTitle = Model.Attributes?.Value("CategoryTitle");
    var PLPVideoLink = Model.Attributes?.Value("categoryvideolink");
    var PLPBannerImage = Model.Attributes?.Value("PLPcategoryBanner");
}

<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper">
    <div class="header-local-container">
        <!--Top Header CMS-->
        <div class="Top-Head-Msg">
            @Html.RenderMessage("RosHommersonPromoText2")
        </div>
    </div>
    @if (NavigationLevel == "Top")
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 nopadding brand-banner flex-column-reverse">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12 nopadding brand-banner-sec" style="background-color:@BannerBackgroundColor">
                        <h1 data-test-selector="lblCategoryName" style="color:@BannerTextColor">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
						<h2 class="hidden">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h2>
                        <p style="color:@BannerTextColor">@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                    </div>
                   <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12 nopadding">
                      <img data-test-selector="imgCategory" class="clickimage" src="@defaultPrdImg" data-video="@VideoLink" style="cursor:pointer;" title="Play Video" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container">
        <div class="row mobile-row">
            <!-- Breadcrumb -->
            <div id="breadCrumb" class="breadcrumb-container" data-test-selector="lblBreadcrumb">
                @if (!string.IsNullOrEmpty(Model.BreadCrumbHtml))
                {
                    @Html.RenderBlock(Model.BreadCrumbHtml)
                }
            </div>
        </div>

        @if (NavigationLevel == null)
        {
            <!--Title-->
            <div class="row margin-top mobile-row">
                <div class="plp-category-title">
                    <h1 data-test-selector="lblCategoryName">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
					<h2 class="hidden">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h2>
                </div>
            </div>
            <!--Long Decription-->
            <div class="row margin-top mobile-row">
                <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
            </div>
        }
       

            <div class="row mobile-row margin-top">
                <!--Shoe Finder Facet List-->
                @if (categoryCode == "shoefinder")
                {
                    gridWidthclass= "col-sm-12";
                    Model.ProductListViewModel.SearchResultViewModel.Custom1 = "shoefinder";
                    Model.ProductListViewModel.Custom1 = "shoefinder";
                    <aside class="col-xs-12 col-sm-12 side-bar nopadding" style="padding:0px;">
                        @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                    </aside>
                }
                else
                {

                    <aside class="col-xs-12 col-sm-3 side-bar nopadding">
                        @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                    </aside>
                }

                <div class="col-xs-12 @gridWidthclass category-landing-container nopadding">
                    @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);}
                </div>
                @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
                {
                    if (!Helper.InfinityLoading && (Convert.ToInt32(TempData[WebStoreConstants.TotalProductCount]) > Convert.ToInt32(searchProperties[WebStoreConstants.PageSize])))
                    {
                        <div class="col-xs-12 nopadding">
                            <div class="category-more text-center margin-top-bottom">
                                <a href="@domainurl@Url.Action("Index", "Category", new { category = Model.CategoryName, categoryId = Model.CategoryId, viewAll = true })" class="btn-text btn-bg-primary">
                                    @*@WebStore_Resources.LabelViewAll @Html.RenderBlock(Model.CategoryName)*@
                                    @WebStore_Resources.LabelViewAll
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
    </div>
    <input type="hidden" value="@Model.CategoryId" id="categoryId" />
    <input type="hidden" value="0" id="parentCategoryId" />
</div> 

<script>
   $(document).ready(function () {
       if ($(window).width() <= 600) {
           $("#SubCategorydesktop").prependTo("#accordion .product-grid");
           $("#SubCategorydesktop").addClass("margin-bottom");
           $("#SubCategorydesktop").removeClass("margin-top");
       }
       });
</script>

<!--Code For Image load and then click video-->
<script>
    $('.clickimage').click(function () {
        video = '<iframe src="' + $(this).attr('data-video') + '" frameborder="0" class="YouTubeFrame" alt="Video" title="Video" allow="autoplay"></iframe>';
        $(this).replaceWith(video);
    });
</script>

@if (PLPVideoLink != null)
{
     <!--Life Style URL-->
        <script type="application/ld+json">
            {
            "@@context": "https://schema.org",
            "@@type": "VideoObject",
            "name": "@PLPTitle",
            "description": "Video Description",
            "thumbnailUrl": [
            "@PLPBannerImage"
            ],
            "uploadDate": "2020-05-30T08:00:00+08:00",
            "duration": "PT1M54S",
            "contentUrl": "@PLPVideoLink",
            "embedUrl": "https://www.youtube.com/embed/",
            "interactionStatistic": {
            "@@type": "InteractionCounter",
            "interactionType": { "@@type": "http://schema.org/WatchAction" },
            "userInteractionCount": 5647018
            },
            "regionsAllowed": "NL"
            }
        </script>
}
