﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel
<div class="col-xs-12 nopadding cart-giftcart">
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", new { isGiftCard = true }, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('giftcard')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyGiftCard" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-group hidden">
            <div class="col-sm-12 nopadding">
                <p>@WebStore_Resources.LabelGiftCardNumber</p>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="input-group" id="cart-apply-giftCard">
                    <input type="text" id="giftCard" name="discountCode" value="@Model.GiftCardNumber" class="form-input" size="40" maxlength="100" title="Gift Card" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn-text btn-bg-primary" title="@WebStore_Resources.ButtonApply">@WebStore_Resources.ButtonApply</button>
                    </span>
                </div>
                <span id="RequiredgiftCardErrorMessage" class="error-msg"></span>
            </div>
        </div>
    }
    <div class="col-xs-12 nopadding gift-card-details">
        <div id="giftCardMessageContainer" class="padding-left">
            @if (Model.Vouchers?.Count > 0)
            {
                foreach (var item in Model.Vouchers)
                {
                    <div class='col-xs-12 nopadding'>
                        @if (item.IsVoucherApplied)
                        {
                            <p class="text-break success-msg padding-top"> <a class='zf-close' onclick="Checkout.prototype.RemoveVoucher('@item.VoucherNumber');" style='cursor:pointer;color:#cc0000;padding-right:3px;'></a><b>@item.VoucherAmountUsed</b> @item.VoucherName (Expires : @item.ExpirationDate.ToDateTimeFormat())</p>;
                            <P>@item.VoucherNumber</P>
                        }
                        else
                        {
                            <p class="error-msg"> <a class='zf-close' onclick="Checkout.prototype.RemoveVoucher('@item.VoucherNumber');" style='cursor:pointer;color:#cc0000;padding-right:3px;'></a>@item.VoucherMessage </p>;
                        }

                    </div>

                }
            }
        </div>
    </div>
</div>

<script>
     @if (Model.Vouchers?.Count > 0)
     {
         var vouchers = Html.Raw(Json.Encode(Model.Vouchers));
     }
</script> 