﻿@using Znode.Engine.WebStore.ViewModels
@model ReferralCommissionViewModel

@{List<string>urls = Model.Url?.Split(',')?.ToList(); }
    @if (!string.IsNullOrEmpty(Model.ReferralCommissionType))
    {
    <div class="col-xs-12 nopadding dashboard-content">
        <h3 class="section-header">@WebStore_Resources.LabelAffiliateInformation</h3>
        <div class="col-xs-12 nopadding">
            <div class="col-xs-12 nopadding">
                @WebStore_Resources.LabelReferralCommission : @Model.ReferralCommission
                @if (Model.ReferralCommissionType == "Percentage")
                {
                <b>%</b>
                }
            </div>
            <div class="col-xs-12 nopadding">
                @WebStore_Resources.LabelReferralCommissionType : @Model.ReferralCommissionType
            </div>
            <div class="col-xs-12 nopadding">
                @WebStore_Resources.LabelTrackingLink :
                @if (urls?.Count > 0)
                {
                foreach (var item in urls)
                {
                <div class="col-sm-12 nopadding">
                    <a href="//@item?affiliateId=@Model.UserId" target="_blank">@item?affiliateId=@Model.UserId</a>
                </div>
                }
                }
            </div>
        </div>
    </div>
    }
    else
    {
    <div class="col-xs-12 nopadding">
        <h3 class="section-header">@string.Format(WebStore_Resources.LabelAffiliateInformation, 0)</h3>
        <p>@WebStore_Resources.MessageNoAffiliateInformation</p>
    </div>
    }