﻿@using Znode.Engine.WebStore.ViewModels
@model List<RecentViewModel>

@if (Model?.Count > 0)
{
    var _productCount = ViewBag.ProductCount;
    <h3 class="product-list-title" data-test-selector="hdgProductList">@Html.RenderMessage("BelliniRecentlyViewProduct")</h3>
    <div class="owl-carousel Recent_View_Products_relProduct">
        @{
            foreach (var p in Model)
            {
                @Html.Partial("../Product/_ProductList", p)
            }
        }
    </div>
 }
<script>
    var navigationFlag = @Model.Count > 4 ? true :false;
    $(".Recent_View_Products_relProduct").owlCarousel({
        autoPlay: false,
        navigation: navigationFlag,
        items: 4,
        itemsCustom: [
          [0, 1],
          [320, 1],
          [480, 2],
          [600, 2],
          [768, 3],
          [992, 3],
          [1200, 4]
        ],
        navigationText: [
          "<i class='zf-arrow-left-big'></i>",
          "<i class='zf-arrow-right-big'></i>"
        ]
    });
    
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });

    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
    })
</script>
