﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.ViewModels
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    bool isLiteVersion = false;
    if (ViewBag.IsLite != null) { isLiteVersion = (bool)ViewBag.IsLite; }
    // string ProductImage = Model.Attributes.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.ProductImage)?.AttributeValues;
    var AlternateImages = Model.AlternateImages.Select(x => new
    {
        FileName = x.FileName,
        ImageSmallPath = x.ImageSmallPath,
        ImageSmallThumbNail = x.ImageSmallThumbNail,
        ImageThumbNailPath = x.ImageThumbNailPath,
        OriginalImagePath = x.OriginalImagePath,
        ImageLargePath = x.ImageLargePath,
        ImageThumbNailPath1 = x.ImageThumbNailPath.Substring(x.ImageThumbNailPath.LastIndexOf('.') - 1, 1)
    }).OrderBy(x => x.ImageThumbNailPath1);
}
@{
    // Nivi code image changes start
    string PDPVideoURL = "";
    string NewPDPVideoURL = "";
    string videourllifestyle = "";
    string Newvideourllifestyle = "";
    videourllifestyle = Model.Attributes?.Value("videourllifestyle");
    PDPVideoURL = Model.Attributes?.Value("videourl360");
    if (PDPVideoURL != null)
    {
        PDPVideoURL = Model.Attributes?.Value("videourl360");

        string s2 = "https://";
        string s1 = "http://";

        bool str1 = PDPVideoURL.Contains(s2);
        bool str2 = PDPVideoURL.Contains(s1);

        if (str1 == false)
        {
            if (str2 == true)
            {
                NewPDPVideoURL = PDPVideoURL.Replace("http", "https");
            }
            else
            {
                NewPDPVideoURL = String.Concat(s2, PDPVideoURL);
            }
        }
        else
        {
            NewPDPVideoURL = PDPVideoURL;
        }
    }
    if (videourllifestyle != null)
    {
        videourllifestyle = Model.Attributes?.Value("videourllifestyle");

        string s2 = "https://";
        string s1 = "http://";

        bool str1 = videourllifestyle.Contains(s2);
        bool str2 = videourllifestyle.Contains(s1);

        if (str1 == false)
        {
            if (str2 == true)
            {
                Newvideourllifestyle = videourllifestyle.Replace("http", "https");
            }
            else
            {
                Newvideourllifestyle = String.Concat(s2, videourllifestyle);
            }
        }
        else
        {
            Newvideourllifestyle = videourllifestyle;
        }
    }
}

<div class="col-xs-12 nopadding image-view">
    <!--Nivi code for fallundercategory pdp Img-->
    <div class="col-xs-12 nopadding" id="Fallundercategory">
        <div class="PDPFallunderImg">
            @{List<AttributesSelectValuesViewModel> codesList = new List<AttributesSelectValuesViewModel>();
                codesList = Model.Attributes?.FirstOrDefault(x => x.AttributeCode == "fallundercategory")?.SelectValues?.ToList();
                string fallUnderCategoryCode = "";
                try { fallUnderCategoryCode = Convert.ToString(codesList?.FirstOrDefault()?.Code); } catch { fallUnderCategoryCode = ""; }
                if (!string.IsNullOrEmpty(fallUnderCategoryCode))
                {
                    if (fallUnderCategoryCode.ToLower() == "clearance")
                    {
                        <img src="@_fileLocation/Images/ClearancePDP.png" data-src="@_fileLocation/Images/ClearancePDP.png" alt="Clearance Product" class="img-responsive" />
                    }
                    if (fallUnderCategoryCode.ToLower() == "sale")
                    {
                        <img src="@_fileLocation/Images/SalePDP.png" data-src="@_fileLocation/Images/SalePDP.png" alt="Sale Product" class="img-responsive" />
                    }
                    if (fallUnderCategoryCode.ToLower() == "new")
                    {
                        <img src="@_fileLocation/Images/NewPDP.png" data-src="@_fileLocation/Images/NewPDP.png" alt="New Product" class="img-responsive" />
                    }
                    if (fallUnderCategoryCode.ToLower() == "newcolor")
                    {
                        <img src="@_fileLocation/Images/NewColorPDP.png" data-src="@_fileLocation/Images/NewColorPDP.png" alt="New Product" class="img-responsive" />
                    }
                }
            }
        </div>
    </div>
    <div class="col-xs-12 nopadding" id="slider">
        <!-- Right side slider -->
        <div>
            <div class="col-sm-12 mobile-no-padding nopadding" id="carousel-bounding-box">
                <div class="carousel slide" id="myCarousel">
                    <!-- Image Call-->
                    <div class="active">
                        <div class="simpleLens-container">
                            <button data-toggle="modal" data-target="#myModal" class="ImageModal hidden-lg hidden-md hidden-sm"><span class="hidden">Mobalcall</span></button>
                            <div class="easyzoom easyzoom-overlay easyzoom-with-thumbnails" data-toggle="modal" data-target="#myModal">
                                <a href="@Model.OriginalImagepath" class="easyzoom-img" title="@Html.RenderBlock(Model.Name)">
                                    <img src="@Model.ImageLargePath" data-test-selector="imgLargePath" class="setimageheightpdp" alt="PDP Image" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Video Call-->
                    @if (Newvideourllifestyle != "")
                    {
                        Newvideourllifestyle = Newvideourllifestyle.ToString().Replace("watch?v=", "embed/");
                        Newvideourllifestyle = Newvideourllifestyle.ToString().Replace("&feature=youtu.be", "");
                        <div class="VideoURLLifestyle text-center">
                            <center>
                                <iframe frameborder="0" class="YouTubeFrame" src="@Newvideourllifestyle" alt="Video" title="Video"></iframe>
                            </center>
                        </div>
                    }
                    @if (NewPDPVideoURL != "")
                    {
                        NewPDPVideoURL = NewPDPVideoURL.ToString().Replace("watch?v=", "embed/");
                        NewPDPVideoURL = NewPDPVideoURL.ToString().Replace("&feature=youtu.be", "");
                        <div class="VideoURL text-center">
                            <center>
                                <iframe frameborder="0" class="YouTubeFrame" src="@NewPDPVideoURL" alt="Video" title="Video"></iframe>
                            </center>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 nopadding product-altimages">
        @if (isLiteVersion)
        {
            @Ajax.Partial("AlternateImages", "AlternateProductImagesZoomEffect", "Product", new { id = ViewBag.ProductId, expands = "ProductImage", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState })
        }
        else
        {
            <div id="alt-images" class="owl-carousel alternate-img simpleLens-thumbnails-container Product_Altimages">
                @if (Model.AlternateImages.Count > 0)
                {
                    <!-- Code by Nivi for VideoURL-->

                    if (Newvideourllifestyle != "")
                    {
                        <div class="item showvideoclicklifestyle">
                            <a class="video liVideoHide setimage videosetimg" onclick="setVisibility('VideoURLLifestyle', 'inline');" title="Play Video">
                                <img src="~/Views/Themes/DrewShoe/Images/VideoImg.png" alt="@Html.RenderBlock(Model.Name)" style="width:auto;" />
                            </a>
                        </div>
                    }

                    if (NewPDPVideoURL != "")
                    {
                        <div class="item showvideoclick">
                            <a class="video liVideoHide setimage videosetimg" onclick="setVisibility('VideoURL', 'inline');" title="Play Video">
                                <img src="~/Views/Themes/DrewShoe/Images/360videoplayer.png" alt="@Html.RenderBlock(Model.Name)" style="width:auto;" />
                            </a>
                        </div>
                    }

                    <div class="item showimageclick">
                        <a href="@Model.OriginalImagepath" data-standard="@Model.ImageLargePath" class="setimage" title="@Html.RenderBlock(Model.Name)" alt="@Html.RenderBlock(Model.Name)">
                            <img src="@Model.ImageLargePath" data-test-selector="imgThumbNailPath" alt="@Html.RenderBlock(Model.Name)" />
                        </a>
                    </div>
                    int i = 0;
                    string galarytext = "Gallary";
                    foreach (var image in AlternateImages)
                    {
                        i++;
                        <div class="item showimageclick">
                            <a href="@image.OriginalImagePath" data-standard="@image.ImageLargePath " class="setimage" title="@Html.RenderBlock(Model.Name + " " + galarytext + i)" alt="@Html.RenderBlock(Model.Name + " " + galarytext + i)">
                                <img src="@image.ImageThumbNailPath" alt="@Html.RenderBlock(Model.Name + " " + galarytext + i)" data-test-selector="imgThumbNailPath" />
                            </a>
                        </div>
                    }
                }

            </div>
            <script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/easyzoom.js")"></script>
			<script>
                $('.easyzoom-flyout img').attr('alt', 'ProductImageMain');
            </script>
            <script>
			 $('.showimageclick a img ').click(function () {

                     //var alttext = ($(this).attr('alt'));
                    //$('.easyzoom a img').attr('alt', alttext);
                });
                $(function () {
                    // Instantiate EasyZoom instances
                    var $easyzoom = $('.easyzoom').easyZoom();
                    // Setup thumbnails example
                    var api1 = $easyzoom.filter('.easyzoom-with-thumbnails').data('easyZoom');

                    $('.item').on('click', 'a', function (e) {
                        var $this = $(this);
                        e.preventDefault();
                        // Use EasyZoom's `swap` method
                        api1.swap($this.data('standard'), $this.attr('href'));
                    });
                    $(".Product_Altimages").owlCarousel({
                        autoPlay: false,
                        navigation: true,
                        //Mouse Events
                        mouseDrag: false,
                        touchDrag: false,
                        items: 4,
                        itemsCustom: [
                            [0, 1],
                            [320, 4],
                            [480, 4],
                            [600, 4],
                            [768, 6],
                            [992, 4],
                            [1200, 6]
                        ],
                        navigationText: [
                            "<i class='zf-arrow-left-big'></i>",
                            "<i class='zf-arrow-right-big'></i>"
                        ]
                    });

                });
            </script>
        }
    </div>
</div>
<div class="hidden-xs">
    <!--Add to wishlist-->
    @Html.Partial("_AddToWishList", Model)
</div>

<!--Nivi Code Video URL call-->
<script language="JavaScript">
    $(document).ready(function () {
        $(".VideoURL").hide();
    });

    $(".showimageclick").click(function () {
        $(".VideoURL").hide(); $(".simpleLens-container").show(); $("iframe").each(function () {
            var src = $(this).attr('src');
            $(this).attr('src', src);
        });
    })
    $(".showvideoclick").click(function () { $(".VideoURL").show(); $(".simpleLens-container").hide(); $(".VideoURLLifestyle").hide() })
    //360 video URL
    $(document).ready(function () {
        $(".VideoURLLifestyle").hide();
    });
    $(".showimageclick").click(function () {
        $(".VideoURLLifestyle").hide(); $(".simpleLens-container").show(); $("iframe").each(function () {
            var src = $(this).attr('src');
            $(this).attr('src', src);

        });
    })
    $(".showvideoclicklifestyle").click(function () { $(".VideoURLLifestyle").show(); $(".simpleLens-container").hide(); $(".VideoURL").hide() })
</script>

@*Image Modal View*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg modal-fullscreen">
        <div class="modal-content mobile-modal-heightfit">
            <div class="col-sm-12 margin-top">
                <button class="close" type="button" data-dismiss="modal"><i class="zf-close-circle"></i><span class="hidden">Close</span></button>
            </div>
            <div class="modal-body" style="display:block;">
                <div>
                    <div id="owl-demoImage">
                        <div class="item">
                            <a class="setimage">
                                <img src="@Model.OriginalImagepath" data-test-selector="imgLargePath" alt="ProductImagePupup"/>
                            </a>
                        </div>
                        @foreach (var image in AlternateImages)
                        {
                            <div class="item">
                                <a title="@Html.RenderBlock(Model.Name)" class="">
                                    <img src="@image.OriginalImagePath" data-test-selector="imgLargePath"
                                         alt="ProductImagePupupGallary" class="img-responsive" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer hidden">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#owl-demoImage").owlCarousel({
            autoPlay: false, navigation: true, pagination: true, dots: true, mouseDrag: false, touchDrag: false, rewindNav: false, items: 1, itemsDesktop: [1199, 1], itemsDesktopSmall: [979, 1], navigationText: [
                "<i class='zf-arrow-left-big'></i>",
                "<i class='zf-arrow-right-big'></i>"
            ]
        });
        // Custom Navigation Events
        $(".next").click(function () {
            owl.trigger('owl.next');
        })
        $(".prev").click(function () {
            owl.trigger('owl.prev');
        })
    })
</script>